<div class="activity-box">
  <div class="act-con">

    <div class="header">Tips Aktivitet
      <i class="fa fa-rss" aria-hidden="true"></i>
    </div>

    <div class="content" [@feed]="bets.length">
      <div class="content-wrapper">

        <div class="item" *ngFor="let bet of bets">
          <div class="item__ago">{{bet.time | date: 'h:mm'}}</div>
          <div class="item__who">{{bet.tag}}</div>
          <div class="item__arrow">
            <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E"
              alt="">
          </div>
          <div class="feed-table-container">
            <table>
              <tr *ngFor="let m of bet.matches">
                <td>{{m.match}}</td>
                <td >{{m.id}}</td>
                <td >{{m.bet}}</td>
                <td >{{m.odds}}</td>
              </tr>
            </table>
          </div>

          <!-- <div class="item__who">
            <span class="feed-label">{{bet.matches[0].match}} </span>
          </div>
          <div class="item__arrow">
            <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E"
              alt="">
          </div>
    
          <div class="item__who">{{bet.matches[1].id}} {{bet.matches[1].bet}} </div>
          <div class="item__arrow">
            <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E"
              alt="">
          </div>
    
          <div class="item__who">{{bet.matches[2].id}} {{bet.matches[2].bet}} </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
