<section class="hero">

  <section class="columns hero__container">

    <div class="column is-3 hero__left">
            <aside class="menu">
                    <p class="menu-label">
                      General
                    </p>
                    <ul class="menu-list">
                      <li><a routerLink="/admin" [class.is-active]="router.url==='/admin'">Dashboard</a></li>
                      
                      <li><a routerLink="users" routerLinkActive="is-active">Users</a></li>
                    </ul>               
                    <p class="menu-label">
                      Turneringer
                    </p>
                    <ul class="menu-list">
                        <li><a routerLink="tournaments" routerLinkActive="is-active">Turneringer</a></li>
                        <li><a routerLink="historik" routerLinkActive="is-active">Historik</a></li>
                        <li><a routerLink="requests" routerLinkActive="is-active">Forespørgsler</a></li>

                    </ul>
                    <p class="menu-label">
                      Opgaver
                    </p>
                    <ul class="menu-list">
                      <li><a routerLink="kampe" routerLinkActive="is-active">Kampe</a></li>
                      <li><a routerLink="resultater" routerLinkActive="is-active">Resultater</a></li>

                  </ul>
                  </aside>

    </div>

    <div class="column hero__right">
            <router-outlet></router-outlet>
    </div>


  </section>


</section>