<section class="hero">

  <section class="columns hero__container">

    <div class="column is-3 hero__left">
            <aside class="menu">
                    <p class="menu-label">
                      General
                    </p>
                    <ul class="menu-list">
                      <li><a routerLink="/admin" [class.is-active]="router.url==='/admin'">Dashboard</a></li>
                      
                      <li><a routerLink="users" routerLinkActive="is-active">Users</a></li>
                    </ul>
                    <p class="menu-label">
                      Odds
                    </p>
                    <ul class="menu-list">
                      <li><a routerLink="sendtips" routerLinkActive="is-active">Send tips</a></li>
                      <li><a>Mine tips</a></li>
                      <li><a>Ændr tips for runde</a></li>
                    </ul>
                    <p class="menu-label">
                      Turneringer
                    </p>
                    <ul class="menu-list">
                        <li><a routerLink="tournaments" routerLinkActive="is-active">Turneringer</a></li>
                    </ul>
                  </aside>

    </div>

    <div class="column hero__right">
            <router-outlet></router-outlet>
    </div>


  </section>


</section>