<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-2 is-primary" style="min-height: 300px" [@flyInOut]>
        
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        <span *ngIf="!showMessage && !showSpinner">
        <h1 style="color: white">Send tips for turnering: {{tournament.name}} Runde: {{currentWeek}}</h1>

        <form [formGroup]="sendbetsForm" novalidate (ngSubmit)="sendBets()" >
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="number" placeholder="111" formControlName="oddsNo1">
            </p>
            <p class="control">
              <span class="select">
                <select required name="Option1" formControlName="oddsOption1">
                  <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>

                </select>
              </span>
            </p>
          </div>

          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="number" placeholder="222" formControlName="oddsNo2">
            </p>
            <p class="control">
              <span class="select">
                <select required name="Option2" formControlName="oddsOption2">
                  <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>
                </select>
              </span>
            </p>
          </div>

          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="number" placeholder="333" formControlName="oddsNo3">
            </p>
            <p class="control">
              <span class="select">
                <select required name="Option3" formControlName="oddsOption3">
                  <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>
                </select>
              </span>
            </p>
          </div>
          <button class="btn" [disabled]="!sendbetsForm.valid">Afsend tips</button>

        </form>
        </span>

        <article class="message is-success" *ngIf="showMessage && !error">
          <div class="message-body">
            Dine tips til {{tournament.name}} for runde {{currentWeek}} blev afsendt successfuldt. Gå til 'Mine Tips' for at se alle dine odds eller stillingen for turneringen
          </div>
        </article>

        <article class="message is-danger" *ngIf="showMessage && error">
          <div class="message-body">
            <strong>Hov</strong> Noget gik galt! <br>
            {{error}}
          </div>
        </article>


      </div>
    </div>
  </div>
</section>