<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active' : toggleNav}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu" [ngClass]="{'is-active' : toggleNav}">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" [class.active]="router.url==='/'">
        Stilling
      </a>
      <a class="navbar-item" routerLink="/" [class.active]="router.url==='/statistic'">
        Statistik
      </a>
      <a class="navbar-item" routerLink="/" [class.active]="router.url==='/info'">
        Info
      </a>

    </div>

    <div class="navbar-end">

        <div *ngIf="(isLoggedin$ | async)" class="navbar-item">
      
      <a class="navbar-item" routerLink="/" [class.active]="router.url==='/sendtips'">
        <span class="icon">
          <i class="fas fa-futbol"></i>
        </span>
        <span>
          Send tips
        </span>
      </a>

      <a class="navbar-item" *ngIf="(isAdmin$ | async) === false"  routerLink="/dashboard" [class.active]="router.url==='/dashboard'">
        Dashboard
      </a>

      <a class="navbar-item" *ngIf="(isAdmin$ | async)"  routerLink="/admin" [class.active]="router.url==='/admin'">
        Admin Panel
      </a>

      <a class="navbar-item" routerLink="/login" (click)="logout()">
        Log out
      </a>
      </div>
  

      <div *ngIf="(isLoggedin$ | async) == false" class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="navbar-item" routerLink="/login" [class.active]="router.url==='/login'">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
              <span>
                Login
              </span>
            </a>
          </p>

          <p class="control">
            <a class="navbar-item" routerLink="/signup" [class.active]="router.url==='/signup'">
              <span class="icon">
                <i class="fas fa-user-plus"></i>
              </span>
              <span>Signup</span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer is-white">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>And this right here is a spiffy footer, where you can put stuff.</p>
      </div>
    </div>
  </div>
</footer>