<section class="hero">

  <section class="columns hero__container">

    <div class="column hero__left">
      <standing></standing>

    </div>

    <div class="column is-3 hero__right">

      <bet-feed></bet-feed>


    <button (click)="sendSocket()">Click me</button>
    <p style="color: white">Messages</p>
    <p *ngFor="let msg of messages"  style="color: white">{{msg}}</p>

    </div>




  </section>


</section>    


<!-- <article class="message is-danger">
    <div class="message-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
    </div>
  </article> -->