<section class="hero">

  <section class="columns hero__container">

    <div class="column hero__left">
      <standing></standing>

    </div>

    <div class="column is-3 hero__right">
      <!-- FEED -->

    <div class="activity-box">
      <div class="act-con">

        <div class="header">Tips <i class="fa fa-rss" aria-hidden="true"></i></div>

        <div class="content">
          <div class="content-wrapper">

            <div class="item">
              <div class="item__ago">22m</div>
              <div class="item__who">me</div>      
              <div class="item__arrow">
                <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
              </div>
              <div class="item__roles"></div>
            </div>

            <div class="item">
                <div class="item__ago">22m</div>
                <div class="item__who">me</div>      
                <div class="item__arrow">
                  <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                </div>
                <div class="item__roles"></div>
              </div>

              <div class="item">
                  <div class="item__ago">22m</div>
                  <div class="item__who">me</div>      
                  <div class="item__arrow">
                    <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                  </div>
                  <div class="item__roles"></div>
                </div>

                <div class="item">
                    <div class="item__ago">22m</div>
                    <div class="item__who">me</div>      
                    <div class="item__arrow">
                      <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                    </div>
                    <div class="item__roles"></div>
                  </div>

                  <div class="item">
                      <div class="item__ago">22m</div>
                      <div class="item__who">me</div>      
                      <div class="item__arrow">
                        <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                      </div>
                      <div class="item__roles"></div>
                    </div>


          </div>
        </div>
      </div>
    </div>


    </div>
