<section class="hero">

  <section class="columns hero__container">

    <div class="column hero__left">
     <!-- TABLE -->
      <p-table [value]="users"  autoLayout="true">
        <ng-template pTemplate="header">
            <tr>
               
                <th colspan="8">Stilling</th>
            </tr>
            <tr>
                <th colspan="6"></th>
                <th colspan="2">Points i uge</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Tag</th>
                <th>Deltager</th>
                <th>Tips</th>
                <th>Points</th>
                <th>Afstand til #1</th>
                <th>19</th>
                <th>17-19</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.position}}</td>
                <td>{{user.tag}}</td>
                <td>{{user.name}}</td>
                <td>{{user.correctBets}} / {{user.totalBets}}</td>
                <td>{{user.points}}</td>
                <td>{{user.distanceToOne}}</td>
                <td>{{user.pointsLastWeek}}</td>
                <td>{{user.pointsLastThreeWeeks}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="2">Næste deadline:</td>
                <td colspan="6">Lørdag kl 12.</td>
            </tr>
            <tr>
              <td colspan="2">Næste uge med spurt!</td>
              <td colspan="6"></td>
        
          </tr>
        </ng-template>
    </p-table>

    </div>

    <div class="column is-3 hero__right">
      <!-- FEED -->

    <div class="activity-box">
      <div class="act-con">

        <div class="header">Feed</div>

        <div class="content">
          <div class="content-wrapper">

            <div class="item">
              <div class="item__ago">22m</div>
              <div class="item__who">me</div>      
              <div class="item__arrow">
                <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
              </div>
              <div class="item__roles"></div>
            </div>

            <div class="item">
                <div class="item__ago">22m</div>
                <div class="item__who">me</div>      
                <div class="item__arrow">
                  <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                </div>
                <div class="item__roles"></div>
              </div>

              <div class="item">
                  <div class="item__ago">22m</div>
                  <div class="item__who">me</div>      
                  <div class="item__arrow">
                    <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                  </div>
                  <div class="item__roles"></div>
                </div>

                <div class="item">
                    <div class="item__ago">22m</div>
                    <div class="item__who">me</div>      
                    <div class="item__arrow">
                      <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                    </div>
                    <div class="item__roles"></div>
                  </div>

                  <div class="item">
                      <div class="item__ago">22m</div>
                      <div class="item__who">me</div>      
                      <div class="item__arrow">
                        <img src="data:image/svg+xml,%3Csvg width='16' height='64' viewBox='0 0 16 64' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 5%3C/title%3E%3Cpath d='M0 0h.997L16 32.01.997 64H0l15.003-31.99z' fill='%23DDE5ED' fill-rule='evenodd'/%3E%3C/svg%3E" alt="">
                      </div>
                      <div class="item__roles"></div>
                    </div>


          </div>
        </div>
      </div>
    </div>


    </div>


  </section>


</section>    


<!-- <article class="message is-danger">
    <div class="message-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
    </div>
  </article> -->